.cs-upload-image-preview{
    margin: 1em;
    overflow: hidden;
    padding: 1em;
    .cs-upload-icon{
        font-size: 3em;
        color: rgb(100,21,255);
    }
}
.cs-preview{
    position: relative;
    max-height: 48em;
    max-width: 48em;
    border-width: 2px;
    border-style: dashed;
    --border-opacity: 1;
    border-color: rgba(100,21,255,var(--border-opacity));
    border-radius: 0.5rem;
    padding: 0.5em;
    .cs-upload-icon{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 3em;
        color: rgba(100,21,255, 0.5);
    }
}
a{
    text-decoration: none;
}