// body {
//   background-color: #f7fafc;
// }
.cs-main-body {
  min-height: calc(100vh - 20em);
}
header {
  padding: 1em;
  margin-bottom: 1em;
  a {
    text-decoration: none;
    font-size: 120%;
    color: #000;
    cursor: pointer;
  }
  a:hover {
    color: rgb(100, 21, 255);
  }
  .header-title {
    color: rgb(100, 21, 255);
  }
}
footer {
  margin-top: 10em;
  a {
    color: white;
    line-height: unset;
  }
}

.cs-auth {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  .cs-auth-contain {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    max-width: 1280px;
    --bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    color: rgb(26, 32, 44);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 50vw;
    padding: 2em;
    align-items: center;
    .cs-auth-main {
      h1 {
        text-align: center;
        margin-bottom: 1.5em;
      }
      .cs-auth-social {
        a {
          max-width: 100% !important;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        input {
          // width: 100%;
          padding: 1rem 2rem;
          border-radius: 0.5rem;
          font-weight: 500;
          background-color: rgb(247, 250, 252);
          border-width: 0;
          color: black;
          font-size: 0.875rem;
          margin-top: 1em;
          outline: none;
        }
        button {
          outline: none;
          border: none;
        }
        button:disabled{
          opacity: 0.6;
        }
      }
    }
  }
}

.cs-loading-bar{
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100vw;
}